numpy==1.26.4
pandas==2.2.1
pickle-mixin==1.0.2
streamlit==1.32.0
streamlit-option-menu==0.3.2
scikit-learn==1.2.2
matplotlib==3.8.4
pydeck==0.8.1b0
folium==0.14.0
seaborn==0.12.2
streamlit-folium
plotly

